<div _ngcontent-rmb-c110="" class="login-wrapper">
    <div _ngcontent-rmb-c110="" class="login-content">
        <div _ngcontent-rmb-c110="" class="login-userset">
            <div _ngcontent-rmb-c110="" class="login-logo logo-normal">
                <img _ngcontent-rmb-c110="" src="../../../assets/img/logo-qs-white.png" alt="img">
            </div>
            <div _ngcontent-rmb-c110="" class="login-userheading">
                <h3 _ngcontent-rmb-c110="">Iniciar Sesión</h3>
                <h4 _ngcontent-rmb-c110="">Ingrese sus Credenciales</h4>
            </div>
            <form _ngcontent-rmb-c110="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div _ngcontent-rmb-c110="" class="form-login">
                    <label _ngcontent-rmb-c110="">Nombre Usuario</label>
                    <div _ngcontent-rmb-c110="" class="form-addons">
                        <input _ngcontent-rmb-c110="" type="text" placeholder="Ingrese su nombre de usuario" formcontrolname="email" id="email" class="ng-untouched ng-pristine ng-valid">
                    </div><!----><!---->
                </div>
                <div _ngcontent-rmb-c110="" class="form-login">
                    <label _ngcontent-rmb-c110="">Contraseña</label>
                    <div _ngcontent-rmb-c110="" class="pass-group">
                        <input _ngcontent-rmb-c110="" placeholder="Ingrese su contraseña" formcontrolname="password" id="password" class="pass-input ng-untouched ng-pristine ng-valid" type="password"><!---->
                        <span _ngcontent-rmb-c110="" class="fas toggle-password fa-eye-slash ng-star-inserted"></span><!---->
                    </div>
                </div>
            </form>
            <!-- <div _ngcontent-rmb-c110="" class="form-login">
                <div _ngcontent-rmb-c110="" class="alreadyuser">
                    <h4 _ngcontent-rmb-c110="">
                        <a _ngcontent-rmb-c110="" class="hover-a" href="/angular/template/forgetpassword">Forgot Password?</a>
                    </h4>
                </div>
            </div> -->
            <div _ngcontent-rmb-c110="" class="form-login">
                <a _ngcontent-rmb-c110="" class="btn btn-login">ingresar</a>
            </div>
        </div>
    </div>
    <div _ngcontent-rmb-c110="" class="login-img">
        
    </div>
</div>