<div class="login-wrapper">
    <div class="login-content">
        <div class="login-userset">
            <!-- <div class="login-logo logo-normal">
                <img src="../../../assets/img/logo-qs-white.png" alt="img">
            </div> -->
            <div class="login-userheading">
                <h3>Iniciar Sesión</h3>
                <h4>Ingrese sus Credenciales</h4>
            </div>
            <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="form-login">
                    <label>Nombre Usuario</label>
                    <div class="form-addons">
                        <input type="text" placeholder="Ingrese su nombre de usuario" formcontrolname="email" id="email" class="ng-untouched ng-pristine ng-valid">
                    </div><!----><!---->
                </div>
                <div class="form-login">
                    <label>Contraseña</label>
                    <div class="pass-group">
                        <input placeholder="Ingrese su contraseña" formcontrolname="password" id="password" class="pass-input ng-untouched ng-pristine ng-valid" type="password"><!---->
                        <span class="fas toggle-password fa-eye-slash ng-star-inserted"></span><!---->
                    </div>
                </div>
            </form>
            <!-- <div _ngcontent-rmb-c110="" class="form-login">
                <div _ngcontent-rmb-c110="" class="alreadyuser">
                    <h4 _ngcontent-rmb-c110="">
                        <a _ngcontent-rmb-c110="" class="hover-a" href="/angular/template/forgetpassword">Forgot Password?</a>
                    </h4>
                </div>
            </div> -->
            <div class="form-login">
                <a class="btn btn-login">ingresar</a>
            </div>
        </div>
    </div>
    <div class="login-img">
        <img src="../../../assets/img/logo-tiptop.png" alt="img">
    </div>
</div>