<div class="login-wrapper">

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
               [fullScreen]="true"><p style="color: white"> Cargando... </p></ngx-spinner>

    <div class="login-content">
        <div class="login-userset">
            <!-- <div class="login-logo logo-normal">
                <img src="../../../assets/img/logo-qs-white.png" alt="img">
            </div> -->
            <div class="login-userheading">
                <h3>Iniciar Sesión</h3>
                <h4>Ingrese sus Credenciales</h4>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="ng-untouched ng-pristine ng-valid">
                <div class="form-login">
                    <label>Nombre Usuario</label>
                    <div class="form-addons">
                        <input type="text" placeholder="Ingrese su nombre de usuario" formControlName="NombreUsuario" id="NombreUsuario" class="form-control ng-untouched ng-pristine ng-valid">
                    </div><!----><!---->
                </div>
                <div class="form-login">
                    <label>Contraseña</label>
                    <div class="pass-group">
                        <input placeholder="Ingrese su contraseña" formControlName="Contrasenia" id="Contrasenia" class="form-control pass-input ng-untouched ng-pristine ng-valid" type="password"><!---->
                        <span class="fas toggle-password fa-eye-slash ng-star-inserted"></span><!---->
                    </div>
                </div>
                <div class="form-login">
                    <button mat-raised-button [disabled]="loginForm.invalid" class="btn btn-login" type="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="login-img">
        <img src="../../../assets/img/logo-tiptop.png" alt="img">
    </div>
</div>