<mat-toolbar class="bg bg-dark" style="color: white;">
  <!-- <div class="pos-branding">
    <div class="cash-move-button">
      <i class="fa fa-money" aria-hidden="true"></i>
      <span style="padding-left: 10px;">Entrada / salida de efectivo</span>
    </div><div class="ticket-button">
      <div class="with-badge" badge="1">
        <i class="fa fa-ticket" aria-hidden="true"></i>
      </div>
      <div>Pedidos</div>
    </div>
  </div>
  <div class="pos-rightheader"><div class="status-buttons"><div class="oe_status"><span><img class="avatar" src="/web/image/res.users/2/avatar_128" alt="Administrator"> <span class="username">Administrator</span></span></div><div class="oe_status"><div class="js_connected oe_icon oe_green"><i class="fa fa-fw fa-wifi" role="img" aria-label="Synchronisation Connected" title="Sincronización Conectada"></i></div></div><div class="header-button"><span><i class="fa fa-sign-out" role="img"></i> Cerrar</span></div></div></div> -->

  <div class="left-container">
    <span style="font-size: 1.1rem; font-weight: bold; letter-spacing: 2px;">PCG POS</span>
    <span class="example-spacer"></span>
  </div>

  <div class="right-container">
    <span class="example-spacer"></span>
    <span style="justify-content: end; margin-right: 10px;">{{usernameAuth}}</span>
    
    <div class="section-end">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon style="color: #58D68D;">wifi</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" (click)="logout()" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  </mat-toolbar>


  <!-- wifi_off -->