<div class="inicio-section">
    <div class="section-header">
        <img src="../../../../assets/img/logo-qs-white.png" alt="50px" width="50px">
        <h1>Bienvenido</h1>
        <img src="../../../../assets/img/logo-tiptop.png" alt="50px" width="50px">
    </div>
    <mat-divider></mat-divider>

    <div class="options-menu">

        <div class="card text-center element-flex m-2">
            <div class="card-header">
              <span style="font-weight: bold;">Para llevar</span>
            </div>
            <div class="card-body" style="background-color: #F4F6F6;">
              <img src="../../../../assets/img/paraLlevar.png" alt="">
              <button mat-raised-button routerLink="pos">Ingresar</button>
            </div>
            <!-- <div class="card-footer text-muted">
              2 days ago
            </div> -->
          </div>

          <!-- <div class="card text-center element-flex m-2">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div> -->

    </div>
</div>